body{
    background-color: rgb(250, 250, 250);
    
    
}
.container{
    max-width: 400px;
}

.list-group-item{
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease;
}
p{
    margin: 0;
    padding: 0;
}
.list-group-item:active{
    background-color: rgb(64, 223, 156);
}

.date{
    font-size: x-small;
}

.checked-item{
    background-color: rgb(158, 255, 214);
}